SoftLayer==6.2.7
pandas==2.3.3
python-dateutil>=2.8.2
python-dotenv==1.2.1
XlsxWriter>=3.2.0
ibm-cos-sdk==2.16.0
ibm-platform-services==0.73.1
ibm-vpc==0.32.0
PyYAML==6.0.3
sendgrid==6.12.5
requests==2.32.5
strip-markdown==1.3

